body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
    z-index: 1000;
}

#notification-container {
    max-width: 900px;
    width: 90%;
    margin: 100px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notification-item {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #f7f89d;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    width: 100%;
    max-width: 850px;
    transition: box-shadow 0.3s;
}

.notification-title {
    font-weight: bold;
}

.notification-description {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin-top: 5px;
    font-size: 0.9em;
}

.notification-time {
    font-size: 0.8em;
    color: #888;
    margin-top: 5px;
}

.delete-btn {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 1.2em;
    margin-left: auto;
}
